<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>ReadMe | Search</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:insert="components/search-component :: navigation-bar"></div>
<section class="book-details">
    <!-- It Will Contain Book Card -->
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 book-img">
                    <img th:src="${coverImg}" class="img-fluid rounded-start" alt="Image not found">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title display-2" th:text="${bookVariable.name}"> Name of Book </h5>
                        <hr>
                        <p class="card-text description"> Book ID : <span class="card-text description-value"
                                                                          th:text="${bookVariable.id}"></span></p>
                        <p class="card-text description"> Published Date : <span class="card-text description-value"
                                                                                 th:text="${bookVariable.published_date}"></span>
                        </p>
                        <hr>
                        <p class="card-text description">Authors : <span class="card-text description-value"
                                                                         th:text="${bookVariable.authorsNames}"> Author Names</span>
                        </p>
                        <hr>
                        <p class="card-text description"> Description :</p>
                        <p class="card-text description-value" th:text="${bookVariable.description}">Discription Not Found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Optional Javascript -->
<!-- First JQuery, popperjs and th  en bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>


</body>

</html>